{% extends 'index.html' %}

{% block content %}
    <h2>{{ product_name }}</h2>
    <p>Описание товара {{ product_name }}</p>

    <img src="/static/images/{{ product_name|lower }}.jpg" alt="{{ product_name }}">
    <!-- Замените путь к изображениям на реальный путь к вашим изображениям товаров -->

    <p>Цена: ${{ product_name|length * 10 }}</p>
    <!-- Просто для примера, можно добавить реальную логику для определения цены товара -->

    <button>Добавить в корзину</button>
    <!-- Добавьте другие детали о товаре, которые вы хотите показать -->
{% endblock %}
